
@import "variables";

$primary: $blush;


footer{
    background-color: #261C2C;

    .logofooter{
        width: 200px;
    }

    .GalleryImg{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

}





@import "../../node_modules/bootstrap/scss/bootstrap.scss";