
@import "variables";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


$primary: $blush;

.herocontainer{
    width: 600px;
    height: 500px;
    overflow: hidden;

    .PlayIcon{
        width: 50px;
        height: 50px;
        z-index: 2;
        cursor: pointer;
    }
    
    .heroImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1.2;
    }

}

// OVERALL STYLES //

h1{
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

.Bold{
    font-weight: bold;
}

.Cursive{
    font-style: italic;
}

.Highlight{
    color: $primary;
}

.ScrollToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 5px;
}

footer{
    background-color: $delft_blue;
    background-image: url("../assets/backgrounds_and_patterns/pattern1.png");

    .logofooter{
        width: 150px;
    }

    .GalleryImg{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

}

// OUR GOALS SECTION //

.GoalCounters{
    width: 100%;
    min-height: 300px;
    border-radius: 10px;
    background-image: url("../assets/backgrounds_and_patterns/bg1.jpg");

    .Goalcount{
        font-size: 50px;
    }

    .GoalBg{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $primary;
    }

    .GoalIcon{
        font-size: 40px;
    }

}

.Goalpic{
    position: absolute;
    bottom: 5px;
    right: -350px;
    border-radius: 10px;
    width: 375px;
    height: auto;
}

// TESTIMONIAL SECTION //

.testimonialPic{
    width: 100%;
    height: 500px;
}

.testimonialText{
    border-radius: 10px;
    width: 250px;
    min-height: 100px;
    margin-left: 30px;
    background-color: white;
    background-image: url("../assets/backgrounds_and_patterns/bg5.jpg");
    background-size: cover;
    
}

// EVENT SECTION //

.EventPattern{
    height: 300px;
    background-image: url("../assets/backgrounds_and_patterns/pattern2.png");
    background-repeat: repeat; 
    background-color: $delft_blue;
    margin-bottom: 250px;
    margin-top: 100px;
}

// ABOUT US //

.aboutContainer{
    background-image: url("../assets/backgrounds_and_patterns/pattern2.png");
    background-repeat: repeat; 
    background-color: $delft_blue; 
}

// EVENTS //

.sponsorlogos{
    width: 100px;
    height: 100px;
    
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";