
@import "variables";

h1{
    font-family: 'Archivo', sans-serif;
}

h2 {
    font-family: 'Lexend', sans-serif;
}

$primary: $blush;

.ScrollToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 5px;
}

footer{
    background-color: #261C2C;

    .logofooter{
        width: 200px;
    }

    .GalleryImg{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

}

.Goalpic{
    width: 200px;
    height: auto;
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";